body {
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
}

.bg-image {
    background-image: linear-gradient(rgba(214, 202, 202, 0.6), rgba(122, 110, 110, 0.7)), url("./fruts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
button {
    font-size: 20px;
}
.card:hover {
    background-color: rgb(30, 117, 81)!important;
}
